<head>
    <title><%= title %> | Music Hub</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<p>This app lets you browse and discover music.</p>
<p>By Mutigolla Ataniyaz SE-2437</p>
<a href="/">Home</a>
<a href="/songs">Songs</a>
<a href="/add-song">Add Song</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
