<%- include('layout', { body: `
  <div class="card wide center">
    <h2>🚫 Access Denied</h2>
    <p>You do not have permission to perform this action.</p>
    <a href="/songs" class="btn">Back to Songs</a>
  </div>
` }) %>
