<head>
    <title><%= title %> | Music Hub</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<h1>Songs List</h1>
<ul>
  <% songs.forEach(song => { %>
    <li><a href="/songs/<%= song._id %>"><%= song.name %> - <%= song.artist %></a></li>
  <% }) %>
</ul>
<a href="/add-song">Add New Song</a>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/song-details">Song-details</a>