* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #1d2671, #c33764);
  min-height: 100vh;
  margin: 0;
  color: white;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  opacity: 0.8;
}

form {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ff2e55;
}

.song-list {
  margin-top: 20px;
}

.song {
  background: rgba(0,0,0,0.3);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song span {
  display: block;
  font-size: 14px;
  opacity: 0.9;
}

.delete {
  background: crimson;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.edit {
  background: #4dabf7;
  margin-right: 8px;
}

.edit:hover {
  background: #339af0;
}
